
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
E-GONZALEZ ™
</head>
<body>
    <main>
        <h2>
            <a href="Inicial">Inicial</a>
        </h2>
        <h2>
            <a href="Servicos"> Serviços </a>
        </h2>
        <h2>
            <a href="QuemSomos">Quem somos</a>
        </h2>

        <h2>
            <a href="Parceiros">Parceiros</a>
        </h2>
    </main>
</body>
<footer>E-Gonzalez © - Todos os direitos reservados</footer>
</html>
