
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    
    <style>
        .black-text {
            color: black
        }

        .darkblue-text {
            color: darkblue
        }


        h2 {
            font-size: 25px;
            font-family: monospace;
           
        }
        h1{
            font-family: Lobster, monospace;
            font-size: 40px;
        }
       
        .titulos {
            margin-top: 20px;
            margin-right: 35px;
            margin-bottom: 20px;
            margin-left: 25px;
        }
       
            .logoeg {
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
        }


        body {
            background: url(https://i.imgur.com/MJAkxbh.png);
        }
        .tam-img-back{
            width: 1000px;
            margin-left: 150px;
        }
        footer {
            margin-top: 10px;
            
            text-align: center
        }
      
    </style>
    <main>
        <div>
            <h1 class="darkblue-text logoeg">e-Gonzalez ™</h1>
            <hr>

            <h2 class="darkblue-text titulos " style="color:green">
                <a href="Inicial">Inicial</a>


                <a href="Servicos">Serviços</a>


                <a href="QuemSomos">Quem somos</a>



                <a href="FaleConosco">Fale Conosco</a>
            </h2>
        </div>
       
        <div>
            <img class="tam-img-back" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG69IHFVtmnfuiVvzXHoSsASco2prbG2PoDMRBLwObRfH9WtWP"
        </div>
    </main>
    <footer >e-Gonzalez © - Todos os direitos reservados</footer>
</body>
</html>
