
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicial</title>
    Inicial
</head>
<body>
    <div>


        <p>Seja bem vindo(a)!</p>
        <p>Este é o site de desenvolvimento web E-Gonzalez</p>


    </div>
    <a href="Index" Voltar</a>
</body>
</html>
