
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parceiros</title>
    Parceiros
</head>
<body>
    <div>

        <p> Contamos com todo o suporte do site <a href="http://www.rodolfoduarte.com.br">Rodolfo Duarte.</a></p>


    </div>
    <a href="Index" Voltar</a>
</body>

</html>
