
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quem Somos</title>
    Quem somos
</head>
<body>
    <div>


        <p>
            Somos uma empresa inovadora com um conceitos moderno e muito dinâmica, onde atendemos clientes de diversas áreas.
        </p>
        <p>
            Nossa equipe conta com o desenvolvedor Eduardo Gonzalez.
        </p>
        <img src="https://scontent.fcgh7-1.fna.fbcdn.net/v/t1.0-9/16730306_1236021599807484_7562206020294844042_n.jpg?_nc_cat=0&oh=202eb445a45405a5b804279da84d8a1c&oe=5BACB4CF" alt="Eduardo Merendino Gonzalez"
        <p><a href="https://www.linkedin.com/in/eduardo-gonzalez-108271b1/"><img src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=s180" alt="LinkedIn de Eduardo Gonzalez"</p>
        </a>
    </div>
    <a href="Index" Voltar</a>
</body>
</html>
