
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quem Somos</title>
    
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <style>


        h1 {
            font-family: Lobster, monospace;
            font-size: 40px;
        }

        h2 {
            font-family: 'Times New Roman';
            font-size: 30px;
            text-align: center;
            padding: 10px;
            background-color: rgba(45,45,45,0.1);
        }

        p {
            font-family: 'Times New Roman';
            font-size: 20px;
            text-align: justify;
        }

        .tam-img-foto {
            width: 100px;
        }

        .tam-img-lin {
            width: 30px;
        }

        .thick-green-border {
            border-color: darkblue;
            border-width: 5px;
            border-style: solid;
            border-radius: 6px;
            border-radius: 50%;
        }

        .darkblue-text {
            color: darkblue
        }

        

        .logoeg {
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
        }


        body {
            background: url(https://i.imgur.com/MJAkxbh.png);
        }

        .fullCard {
            width: 220px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px 5px;
            padding: 4px;
        }

        .cardContent {
            padding: 10px;
        }

        #thumbnail {
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          
        }
        footer {
            margin-top: 390px;
          
            text-align: center
        }
        
    </style>
    <div>
        <h1 class="darkblue-text logoeg">e-Gonzalez ™</h1>
        <hr>
        <h2 class="darkblue-text">Quem Somos</h2>
        <div></div>
        <p>
            Somos uma empresa inovadora com um conceitos moderno e muito dinâmica, onde atendemos clientes de diversas áreas.
        </p>
    </div>

    <div class="fullCard" id="thumbnail">
        <div class="cardContent">
            <div class="cardText">
                <p>
                    <img class="tam-img-foto thick-green-border" src="https://scontent.fcgh7-1.fna.fbcdn.net/v/t1.0-9/16730306_1236021599807484_7562206020294844042_n.jpg?_nc_cat=0&oh=202eb445a45405a5b804279da84d8a1c&oe=5BACB4CF" alt="Eduardo Merendino Gonzalez"/>
                </p>
                <p style="text-align: left">
                    Nossa equipe conta com o desenvolvedor <strong>Eduardo Gonzalez</strong>.
                </p>

                <a href="https://www.linkedin.com/in/eduardo-gonzalez-108271b1/">
                    <img class="tam-img-lin" src="https://lh3.googleusercontent.com/00APBMVQh3yraN704gKCeM63KzeQ-zHUi5wK6E9TjRQ26McyqYBt-zy__4i8GXDAfeys=s180" alt="LinkedIn de Eduardo Gonzalez"</p>
                </a>
                <label></label>
            </div>

        </div>

    </div>
    <div>
        <a href="Index">Voltar</a>
    </div>
    <footer>e-Gonzalez © - Todos os direitos reservados</footer>
</body>
</html>
