
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Servicos</title>
    
</head>
<body>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <style>


        h1 {
            font-family: Lobster, monospace;
            font-size: 40px;
        }

        h2 {
            font-family: 'Times New Roman';
            font-size: 30px;
            text-align: center;
            padding: 10px;
            background-color: rgba(45,45,45,0.1);
        }

        p {
            font-family: 'Times New Roman';
            font-size: 20px;
            text-align: justify
        }


        ul {
            font-family: monospace;
        }

        .darkblue-text {
            color: darkblue
        }

        

        .logoeg {
            margin-top: 5px;
            margin-right: 5px;
            margin-bottom: 5px;
            margin-left: 5px;
        }


        body {
            background: url(https://i.imgur.com/MJAkxbh.png);
        }
        footer {
            margin-top: 390px;
           
            text-align: center
        }
    </style>
    <div>
        <h1 class="darkblue-text logoeg">e-Gonzalez ™</h1>
        <hr>
        <h2 class="darkblue-text">Serviços</h2>

        <p>
            Temos a missão de desenvolver o site da sua empresa da forma que melhor atende o seu público.
        </p>
        <p>Algumas das tecnologias que utilizamos:</p>
        <ul>
            <li>ASP.NET</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
        </ul>


        <a href="Index"> Voltar</a>
    </div>
    <footer>e-Gonzalez © - Todos os direitos reservados</footer>
</body>
</html>
