
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Servicos</title>
    Serviços
</head>
<body>
    <div>
        <p>
            Temos a missão de desenvolver o site da sua empresa da forma que melhor atende o seu público.
        </p>
        <p>Alguma das tecnologias que utilizamos</p>
        <ul>
            <li>.NET</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
        </ul>

    </div>
    <a href="Index" Voltar</a>
</body>
</html>
